praw
transformers
sentence-transformers
Mastodon.py 
textblob 
vaderSentiment  
beautifulsoup4
langdetect
scrapfly-sdk
playwright
jmespath
serpapi
google-search-results
together
huggingface_hub
huggingface-cli 
login
langgraph
pandas
statsmodels
prophet
google-genai
mistralai
tiktoken
langchain_core
bs4